@media (max-width:740px)
{
    .s-full-width{

        width: 100% !important;
    }
    .s-col-full{
        width: 100% !important;
    }
    .s-mt-8{
        margin-bottom: 8px !important;
    }
    
    #nav {
        display: block;
    }

   #nav .homeclick-clock {
        display: inline-block;
   }
    
    #nav > li {
        display: block;
    }

    #nav .subnav {

        position:initial;
        background-color: #333;
        color:#fff ;
    }
  
    #nav .subnav li {
        padding: 5px 42px;
        
    }

    #header {
        overflow: hidden;
    }

    #header .search-btn {
        display: none;


    }

    #header .mobile-memu-btn{
        display:block;
        
    
    }
    #content .member-item {
        width: 100%;
        margin-top: 30px;
    }
    #content .member-img{
        width: 60%;
    }

    .contact-form {
        margin-top: 16px;
    }



}
